*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*::-webkit-scrollbar {
	width: 0;
}

body {
	text-rendering: optimizeSpeed;
	scroll-behavior: smooth;
	overflow: hidden auto;
	line-height: 1.5;
	font-size: 1.15rem;
	font-family: 'Montserrat', sans-serif;
	background-color: #3d405b;
}

.container {
	height: 100vh;
	margin: 1rem 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.container-overlay {
	margin: 0rem;
	height: 100vh;
	overflow-y: hidden;
	background-color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.pokemon-header {
	letter-spacing: 0.25rem;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	color: #81b29a;
}
